@import "tailwindcss";

@theme {
  --color-primary: #0f49bd;
  --color-background-light: #f6f6f8;
  --color-background-dark: #101622;
  --font-display: "Inter", sans-serif;
}

:root {
  --background: var(--color-background-light);
  --foreground: #0f172a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-background-dark);
    --foreground: #f8fafc;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-display);
}
