@import "tailwindcss";

@view-transition {
  navigation: auto;
}

/* Optional: Customize transition animations */
::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 0.5s;
}

@theme {
  --font-headline: "Manrope", sans-serif;
  --font-body: "Inter", sans-serif;
  --font-label: "Inter", sans-serif;
  /* Light Mode (Default) */
  --color-primary: #29695b;
  --color-on-primary: #defff4;
  --color-primary-container: #afefdd;
  --color-on-primary-container: #195c4e;
  --color-primary-fixed: #afefdd;
  --color-on-primary-fixed: #00483c;
  --color-primary-fixed-dim: #a1e1cf;
  --color-on-primary-fixed-variant: #266658;
  --color-secondary: #5c605e;
  --color-on-secondary: #f7f9f7;
  --color-secondary-container: #e1e3e0;
  --color-on-secondary-container: #4f5251;
  --color-secondary-fixed: #e1e3e0;
  --color-on-secondary-fixed: #3c403e;
  --color-secondary-fixed-dim: #d2d5d2;
  --color-on-secondary-fixed-variant: #595c5a;
  --color-tertiary: #526448;
  --color-on-tertiary: #ecffdd;
  --color-tertiary-container: #ddf2ce;
  --color-on-tertiary-container: #4a5c40;
  --color-tertiary-fixed: #ddf2ce;
  --color-on-tertiary-fixed: #38492f;
  --color-tertiary-fixed-dim: #cee3c0;
  --color-on-tertiary-fixed-variant: #54664a;
  --color-error: #9f403d;
  --color-on-error: #fff7f6;
  --color-error-container: #fe8983;
  --color-on-error-container: #752121;
  --color-background: #fbf9f7;
  --color-on-background: #303332;
  --color-surface: #fbf9f7;
  --color-on-surface: #303332;
  --color-surface-variant: #e2e3e1;
  --color-on-surface-variant: #5d5f5e;
  --color-outline: #797b79;
  --color-outline-variant: #b1b2b0;
  --color-inverse-surface: #0e0e0e;
  --color-inverse-on-surface: #9e9d9c;
  --color-inverse-primary: #bdfeeb;
  --color-surface-bright: #fbf9f7;
  --color-surface-dim: #d9dad8;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f5f3f2;
  --color-surface-container: #eeeeec;
  --color-surface-container-high: #e8e8e6;
  --color-surface-container-highest: #e2e3e1;
  --color-surface-tint: #29695b;

  /* Dark Mode Overrides */
  @variant dark (&:where(.dark, .dark *)) {
    --color-primary: #82d3be;
    --color-on-primary: #00382e;
    --color-primary-container: #005144;
    --color-on-primary-container: #afefdd;
    --color-primary-fixed: #afefdd;
    --color-on-primary-fixed: #00201a;
    --color-primary-fixed-dim: #82d3be;
    --color-on-primary-fixed-variant: #005144;
    --color-secondary: #b1ccc1;
    --color-on-secondary: #1c352d;
    --color-secondary-container: #334b43;
    --color-on-secondary-container: #cce8dd;
    --color-secondary-fixed: #cce8dd;
    --color-on-secondary-fixed: #072019;
    --color-secondary-fixed-dim: #b1ccc1;
    --color-on-secondary-fixed-variant: #334b43;
    --color-tertiary: #adcfa6;
    --color-on-tertiary: #19361a;
    --color-tertiary-container: #304d2f;
    --color-on-tertiary-container: #c9ebb1;
    --color-tertiary-fixed: #c9ebb1;
    --color-on-tertiary-fixed: #042106;
    --color-tertiary-fixed-dim: #adcfa6;
    --color-on-tertiary-fixed-variant: #304d2f;
    --color-error: #ffb4ab;
    --color-on-error: #690101;
    --color-error-container: #930006;
    --color-on-error-container: #ffdad4;
    --color-background: #191c1b;
    --color-on-background: #e1e3e0;
    --color-surface: #191c1b;
    --color-on-surface: #e1e3e0;
    --color-surface-variant: #3f4945;
    --color-on-surface-variant: #bfc9c4;
    --color-outline: #89938f;
    --color-outline-variant: #3f4945;
    --color-inverse-surface: #e1e3e0;
    --color-inverse-on-surface: #191c1b;
    --color-inverse-primary: #29695b;
    --color-surface-bright: #343a39;
    --color-surface-dim: #0f1413;
    --color-surface-container-lowest: #0a0f0e;
    --color-surface-container-low: #191c1b;
    --color-surface-container: #1d2120;
    --color-surface-container-high: #272b2a;
    --color-surface-container-highest: #323635;
    --color-surface-tint: #82d3be;
  }

  --radius-DEFAULT: 0.125rem;
  --radius-lg: 0.25rem;
  --radius-xl: 0.5rem;
  --radius-full: 0.75rem;
}

:root {
  --background: var(--color-background);
  --foreground: var(--color-on-background);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
